
name: Lychee Link Checker

on:
  push:
    branches:
    - main
  schedule:
  # Run everyday at 10:00 AM (See https://pubs.opengroup.org/onlinepubs/9699919799/utilities/crontab.html#tag_20_25_07)
  - cron: "0 10 * * *"
  workflow_dispatch:

jobs:
  markdown-links:
    name: Validate Markdown Links
    runs-on: ubuntu-latest

    steps:
      - name: Check out repository
        uses: actions/checkout@v6

      - name: Restore lychee cache
        uses: actions/cache@v4
        with:
          path: .lycheecache
          key: cache-lychee-${{ github.sha }}
          restore-keys: cache-lychee-

      - name: Run lychee
        uses: lycheeverse/lychee-action@v2
        with:
          args: >
            --cache
            --max-cache-age 1d
            .
          fail: true
